* {
  border: 1px solid black;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.center {
  text-align: center;
}

.height100 {
  height: 100%;
}

.height100vh {
  height: 100vh;
}

.col-nopad {
  padding: 0;
}

.page {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  background-color: rgb(204, 247, 204);

  &.page-home {
    //   BOTH MOBILE AND DESKTOP
    .login-con {
      height: 70vh;
      flex-direction: column;
      justify-content: space-between;

      .login-con-form-userpass {
        width: 100%;
        flex-direction: column;

        .login-con-input-con {
          flex-direction: column;
        }
      }

      .login-con-logsign-con {
        flex-direction: column;
        align-items: center;

        .login-con-noaccount {
          span {
            color: grey;
          }
        }
      }
    }
  }

  //   ONLY ON WIDTH > MEDIUM (DESKTOP)
  &.page-home-desktop {
    padding: 4rem 0;
    .login-con {
      width: 60%;

      .login-con-form-btn {
        flex-direction: column;
        justify-content: space-between;
      }

      .login-con-logsign-con {
        gap: 1rem;
        margin-top: 3rem;

        .login-btn {
          width: 5rem;
        }

        .login-con-noaccount {
          span {
            color: grey;
          }
        }
      }

      .login-con-avatar-con {
        height: 50%;
      }

      .login-con-theme-con {
        height: 50%;
      }
    }
  }

  //   ONLY ON WIDTH < MEDIUM (MOBILE)
  &.page-home-mobile {
    padding: 4rem 0;
    .login-con {
      width: 90%;

      input {
        width: 100%;
      }
    }

    .login-con-logsign-con {
      flex-direction: column;
      align-items: center;
      margin-top: 3rem;
      gap: 1rem;

      .login-btn {
        width: 7rem;
      }
    }
  }

  // page dashboard
  &.page-dashboard {
    //   BOTH MOBILE AND DESKTOP
    .dashboard-con {
      min-height: 100vh;

      .user-con-avatar {
        &:after {
          content: "";
          background-color: hotpink;
          width: 1rem;
          height: 1rem;
          position: absolute;
        }
      }
      .col2-chatroom-con {
        background: linear-gradient(
          235deg,
          rgba(7, 109, 255, 1) 25%,
          rgba(255, 255, 255, 1) 25%
        );

        .chatroom-con-title-fav-con {
          justify-content: space-between;
        }
      }

      .dashboard-con-col3 {
        .col3-chat-con {
          flex-direction: column;
          justify-content: space-between;
          .chat-con-top {
            justify-content: space-between;
          }
          .chat-con-mid {
          }
          .chat-con-bot {
          }
        }
      }
    }

    //   ONLY ON WIDTH > MEDIUM (DESKTOP)
    &.page-dashboard-desktop {
      .dashboard-con-col1 {
        flex-direction: column;

        .col1-user-con {
          height: 30%;
          flex-direction: column;
          justify-content: space-between;
        }

        .col1-nav-con {
          height: 70%;
          padding-top: 3rem;
          flex-direction: column;
          gap: 2rem;
        }
      }
      .dashboard-con-col2 {
      }
    }

    //   ONLY ON WIDTH < MEDIUM (MOBILE)
    &.page-dashboard-mobile {
      .dashboard-con-col1 {
        height: 20vh;
      }
      .dashboard-con-col2 {
        height: 80vh;
      }
    }
  }
}
